<div class="mt-[57px] ">

    <div
        class=" w-[320px] md:w-[350px] lg:w-[320px] h-[228px] bg-white dark:bg-verydarkblack rounded-[6px] border-verydarkblack">
        <div class="animate-pulse">
            <div
                class="flex flex-col justify-center items-center absolute ml-[28px] mt-[-25px] w-[50px] h-[50px] rounded-[15px] bg-[#E7ECF2] dark:bg-midnight">
            </div>

            <div class="flex flex-col justify-start items-start ml-[28px] gap-[32px]  pt-[49px] ">
                <div class="flex flex-col justify-start items-start gap-[12px]">
                    <div
                        class="w-[120px] h-[20px] flex justify-start items-center gap[20px] bg-[#E7ECF2] dark:bg-midnight">
                    </div>
                    <div class="w-[200px] h-[20px] bg-[#E7ECF2] dark:bg-midnight"></div>
                    <p class="w-[100px] h-[20px] bg-[#E7ECF2] dark:bg-midnight"></p>

                </div>
                <div>
                    <p class="w-[140px] h-[20px] bg-[#E7ECF2] dark:bg-midnight"></p>

                </div>

            </div>

        </div>
    </div>

</div>