<div class=" flex flex-col  items-center ">
    <div class="flex flex-col justify-start  items-center mt-[32px] p-[48px] gap-[42px] w-[327px] md:w-[730px] h-auto rounded-[6px] bg-white dark:bg-verydarkblack ">
        <div class="flex justify-center items-center gap-[22px]">
            <div class="w-[468px] mb-[44px]">
                <div class="text-darkgray"> <span class="mr-[18px]">{{details?.postedAt}}</span> <span class="w-[4px] h-[4px] mr-[18px] mt-[10px] bg-darkgray rounded"> </span> <span class="mr-[18px]">{{details?.contract}}</span></div>
                <p class="text-xl font-bold text-midnight dark:text-white">{{details?.position}}</p>
                <p class="text-violet font-bold text-sm">{{details?.location}}</p>
            </div>
            <devjobs-button [href]="details?.apply"  btnName="Apply Now"></devjobs-button>
        </div>
        <p class="text-darkgray">
            {{details?.description}}
        </p>
        <div class="flex flex-col justify-start items-start gap-[22px]">
            <p class="text-midnight dark:text-white text-md font-bold">
                Requirements
            </p>
            <p class="text-darkgray">
                {{details?.requirements?.content}}
            </p>
            
        <ul class="list-disc list-style pl-4 text-darkgray">
            @for (requirements of details?.requirements?.items; track $index) {
                <li class="pl-4">{{requirements}}</li>
            }
        </ul>
    
        </div>

        <div class="flex flex-col justify-start items-start gap-[22px]">
            <p class="text-midnight dark:text-white text-md font-bold">
                What You Will DO
            </p>
            <p class="text-darkgray">
                {{details?.role?.content}}
            </p>
            
        <ol class="list-decimal  list-outside list-style pl-4 text-darkgray">
            <ul class="list-disc list-style pl-4 text-darkgray">
                @for (role of details?.role?.items; track $index) {
                    <li class="pl-4">{{role}}</li>
                }
            </ul>
        </ol>
    

        </div>

    </div>
</div>
