<div class="flex flex-col h-auto  md:mt-[-55px] lg:mt-[-70px]">
    <button (click)="goBack()" class="ml-[20px] md:ml-[80px] xl:ml-[150px] 2xl:ml-[466px]">
    <svg
      class="fill-[#fafafa] dark:fill-white"
      width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.46447 0.107445L7.64298 1.28596L3.75389 5.17504L18.6031 5.17504L18.6031 6.82496L3.75389 6.82496L7.64298 10.714L6.46447 11.8926L0.57191 6L6.46447 0.107445Z" fill=""/>
    </svg>
  </button>
  <devjobs-detailshead></devjobs-detailshead>
  <div class="  justify-center items-center  dark:bg-midnight">
    <devjobs-detailsbody></devjobs-detailsbody>
    <devjobs-detailsfooter></devjobs-detailsfooter>
  </div>

</div>
