<div class="flex flex-col justify-center overflow-x-hidden items-center mt-[66px]  h-[96px] w-[100vw] bg-white dark:bg-verydarkblack ">
    <div class="flex justify-center items-center gap-[142px] py-[12px]">
        <div class="w-[468px] mb-[4px]">
            <p class="text-xl font-bold text-midnight dark:text-white">{{details?.position}}</p>
            <p class="text-darkgray text-sm">{{details?.company}}</p>
        </div>
        <devjobs-button [href]="details?.apply" btnName="Apply Now"></devjobs-button>
    </div>
</div>