<div class="flex flex-col justify-center items-center">
    <div class="hidden md:flex justify-center absolute mt-[12px] items-center gap-[20px] lg:gap-[20px] pl-[8px] md:w-[720px] lg:w-[990px] h-[80px] rounded-[6px] bg-white dark:bg-verydarkblack">
      <div class="flex justify-start items-center gap-[16px]">
        <img src="./assets/desktop/icon-search.svg" alt="search">
        <input [(ngModel)]="title" (change)="filterJobsBySearch()" class="md:w-[105px] lg:w-[268px] dark:bg-verydarkblack focus:outline-none dark:text-white caret-violet" type="text" placeholder="Filter by title, companies, expertise…">
      </div>
      <span class="w-[1px] h-[80px] bg-[#F4F6F8] dark:bg-[#6E8098]"></span>
      <div class="flex justify-start items-center gap-[16px]">
        <img src="./assets/desktop/icon-location.svg" alt="location">
        <input [(ngModel)]="location" class="md:w-[105px] lg:w-[154px] dark:bg-verydarkblack focus:outline-none dark:text-white caret-violet" type="text" placeholder="Filter by location...">
      </div>
      <span class="w-[1px] h-[80px] bg-[#F4F6F8] dark:bg-[#6E8098]"></span>
      <div class="">
        <label class="container flex justify-center items-center text-sm font-bold text-verydarkblack dark:text-white">Full Time Only
          <input type="checkbox" class="hidden accent-violet bg-[#979797] border-[#979797] hover:border-violet">
          <span (click)="checked()" class="checkmark dark:bg-midnight rounded-[4px] mt-[4px]"></span>
        </label>
      </div>
      <button type="submit" (click)="filterFullTime()" class="md:w-[80px] lg:w-[123px] h-[48px] rounded-[5px] bg-violet text-white font-bold hover:bg-lightvioler">
        Search
      </button>
    </div>
    <div class="flex justify-center items-center rounded-[6px] md:hidden w-[327px] h-[80px] bg-white dark:bg-verydarkblack absolute mt-[10px]">
      <div class="flex justify-start items-center gap-[16px]">
        <input class="md:w-[105px] lg:w-[154px] dark:bg-verydarkblack focus:outline-none dark:text-white caret-violet" type="text" placeholder="Filter by location...">
        <img src="./assets/mobile/icon-filter.svg" alt="location">
        <button class="flex flex-col justify-center items-center w-[48px] h-[48px] rounded-[5px] bg-violet hover:bg-lightvioler">
          <img src="./assets/mobile/003-search.svg" alt="">
        </button>
      </div>
    </div>
  </div>