<div class=" flex flex-col justify-center items-center ">
    <div class="flex justify-start mt-[12px] items-center gap-[286px]  w-[730px] h-[140px] rounded-[6px] bg-white dark:bg-verydarkblack">
        <div class="flex justify-start items-center gap-[42px]">
            <div class=" w-[140px] h-[140px] rounded-bl-lg flex flex-col justify-center items-center" [ngStyle]="{'backgroundColor': details?.logoBackground}">
                        <img [src]="details?.logo" alt="">
            </div>
           <div>
              <p class="text-midnight font-bold text-lg dark:text-white">{{details?.company}}</p>
              <p class="text-darkgray">{{details?.company}}.com</p>
           </div>
        </div>

   <button class="bg-[#EEEFFC] hover:bg-[#C5C9F4] w-[147px] h-[48px] text-violet font-bold rounded-[5px]"> company Site</button>
    </div>
</div>