@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #F4F6F8;
    overflow-x: hidden; 
}

.list-style-pink {
    @apply list-disc pl-4;
  }

  .container {
    display: block;
    width: 180px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
   @apply bg-lightgray;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    @apply bg-lightvioler
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    @apply bg-violet;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }